QWidget#ContentWidget {
    background-color: black;
}

QWidget#ContentWidget QLabel {
    color: white;
}

QWidget#ContentWidget QPushButton {
    color: white;
}

QFrame#Entry {
    border: 2px solid white;
}

QLabel#EntryDescriptionLabel {
    font-size: 14px;
}

QPushButton#EntryLinkButton {
    text-align: left;
}

QPushButton#EntryExpandButton {
    text-align: right;
    min-width: 300px;
}